<h1 class="mt-5 mb-5">Album detail screen</h1>

@if (album) {
<p>{{album.id}} {{album.catalogNumber}}</p>

<button class="btn btn-success" [routerLink]="['/albums', album.id, 'update']">Update album</button>
}


<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Ratings & Comments</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    @for (rating of ratings; track rating.id) {
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          
          <!-- TODO: mostrar más adelante el avatar del usuario.-->
        </div>
        <h3 class="fs-2 text-body-emphasis">{{rating.score}}</h3>
        <p>{{rating.comment}}</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
    }
  </div>
</div>