<h1 class="mt-5 mb-5">Album detail screen</h1>

@if (album) {
<p>{{album.id}} {{album.catalogNumber}}</p>

<button class="btn btn-success" [routerLink]="['/albums', album.id, 'update']">Update album</button>
}


<div class="container py-5">
  <div class="row">
    <div class="col">
      <!-- Listado de últimas valoraciones. -->
      <h3>Ratings List</h3>
        <h4 class="fst-italic">Recent posts</h4>
        <ul class="list-unstyled">
          @for (rating of ratings; track rating.id) {
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                <img src="https://placehold.co/100"><!-- Esta imagen en el futuro se reemplazará por el avatar del usuario. -->
                <div class="col-lg-8">
                  <h6 class="mb-0">
                    <ngb-rating [(rate)]="rating.score">
                      <ng-template let-fill="fill" let-index="index">
                        <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-3"></i>
                      </ng-template>
                    </ngb-rating>
                  </h6>
                  <small class="text-body-secondary">{{rating.comment}}</small>
                </div>
              </a>
            </li>
          }
        </ul>
    </div>
    <div class="col">
      <!-- Formulario de 2 campos para agregar nuevas ratings. -->
      <h3>Add your rating!</h3>
    </div>
  </div>
</div>