
<div class="container">
    <div class="row">
        <div class="col">

        @if (isUpdate) {
            <h1 class="mt-5 mb-5">Update existing album with Catalog Number: {{albumForm.get('catalogNumber')?.value}}</h1>
        } @else {
            <h1 class="mt-5 mb-5">Create new album</h1>
        }

            <form [formGroup]="albumForm" (ngSubmit)="save()">
            
                <input type="hidden" formControlName="id">

                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                    id="title" formControlName="title">
                    <label for="title">Title</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control"
                    id="catalogNumber" formControlName="catalogNumber">
                    <label for="catalogNumber">Album Catalog Number</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control"
                    id="price" formControlName="price">
                    <label for="price">Album price (UDS)</label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="published" formControlName="published">
                    <label class="form-check-label" for="published" style="cursor:pointer;">
                      Published
                    </label>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="releaseDate" formControlName="releaseDate">
                    <label for="releaseDate">Release Date</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="type" formControlName="type">
                        <option value="CD">CD</option>
                        <option value="DVD">DVD</option>
                        <option value="DIGITAL_ALBUM">Digital album</option>
                        <option value="VINYL">Vinyl</option>
                    </select>
                    <label for="type">Album type</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="artist" formControlName="artist" [compareWith]="compareObjects">
                        <!-- iterar sobre el array de artists mostrando cada uno. -->
                        @for (artist of artists; track artist.id) {
                            <option [ngValue]="artist">{{artist.name}}</option>
                        }
                    </select>
                    <label for="artist">Album artist</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="recordCompany" formControlName="recordCompany" [compareWith]="compareObjects">
                        <!-- iterar sobre el array de discográficas mostrando cada una. -->
                        @for (recordCompany of recordCompanies; track recordCompany.id) {
                            <option [ngValue]="recordCompany">{{recordCompany.name}}</option>
                        }
                    </select>
                    <label for="recordCompany">Record Company</label>
                </div>

                @if (isUpdate) {
                    <button class="btn btn-success" type="submit">Update</button>
                } @else {
                    <button class="btn btn-success" type="submit">Create</button>
                }
                
                        
            </form>
        </div>
    </div>
</div>

