<h1>Listado de productos</h1>

<ul>
  @for (name of names; track name) {
    <li>{{name}}</li> <!-- Itera sobre el array creado en el archivo
      TypeScript y lo muestra en la web como una lista desordenada;
      esto solo funciona para Angular 17, en la v16 se hace de otra forma.-->
  }
</ul>

<ol> <!-- Bucle For de la v17-->
  @for (product of products; track product.id) {
    <li>{{product.title}} con precio {{product.price}} €
       y disponibilidad {{product.available}}
    </li>
  }
</ol>

<ol>
  @for (email of emails; track email) {
    <li>{{email}}</li>
  } @empty {
    <li>Ni se ha encontrado ningún resultado.</li>
  }
</ol>

<ol> <!-- forma de declarar un bucle For válido para la v16-->
  <li *ngFor="let product of products">
    {{product.title}}
  </li>
</ol>