
<div class="container" style="max-width:960px;">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/assets/img/record_shoppingcart.png" alt="" width="100" heigth="100">
      @if (album) {
        <h2>'{{album.title}}' booking form</h2>
      } @else {
        <h2>Booking form</h2>
      }
      <p class="lead">Select reservation details to complete your booking</p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Subtotal</span>
          <span class="badge bg-primary rounded-pill">{{numDays}} Days</span>
        </h4>
        <ul class="list-group mb-3">
          @if (bookedDayPrice > 0) {
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Booked days Total cost</h6>
                <small class="text-body-secondary">{{numDays}} x {{album?.price}}</small>
              </div>
              <span class="text-body-secondary">{{bookedDayPrice}}</span>
            </li>
          }
          
          @if (bookingForm.get('isPremiumShip')?.value) {
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Shiping cost</h6>
                <small class="text-body-secondary">Express shipping & tracking service</small>
              </div>
              <span class="text-body-secondary">{{shippingPrice}}</span>
            </li>
          }

          @if (extraPrice > 0) {
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Cool extras</h6>
                <small class="text-body-secondary">Some artist's awesome Merchandising</small>
              </div>
              <span class="text-body-secondary">{{extraPrice}}</span>
            </li>
          }
          
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>{{totalPrice}}</strong>
          </li>
        </ul>

        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Booking details</h4>
        <form class="needs-validation" novalidate="" [formGroup]="bookingForm" (submit)="save()">

          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="startDate"
            formControlName="startDate" placeholder="yyyy-mm-dd" (change)="calculatePrice()">
            <label for="startDate">Booking start date</label>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="finishDate"
            formControlName="finishDate" placeholder="yyyy-mm-dd" (change)="calculatePrice()">
            <label for="finishDate">Booking expiration date</label>
          </div>

          <hr class="my-4">

          <div class="form floating mb-3">
            <select class="form-select" id="extraItems" formControlName="extraItems" (change)="calculatePrice()">
              <option value="0">No extra items</option>
              <option value="10.50">'{{album?.title}}' limited edition (+10.50 $)</option>
              <option value="19.95">'{{album?.title}}' collectors edition (+19.95 $)</option>
              <option value="14.99">Artist cool merchandise (+14.99 $)</option>
            </select>
            <label for="extraItems">Extra items</label>
          </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isPremiumShip" formControlName="isPremiumShip" (change)="calculatePrice()">
            <label class="form-check-label" for="isPremiumShip">24hr. Express delivery</label>
          </div>

          

        

          <button class="w-100 btn btn-primary btn-lg mt-5 mb-5" type="submit">Complete your booking</button>
        </form>
      </div>
    </div>
  </main>

</div>