
@if (artist) {
  <div class="px-4 py-5 mt-5 text-center">
    <img class="d-block mx-auto mb-4 rounded-circle" [src]="artist.photoUrl" alt="" style="max-width: 150px;">
    <h1 class="display-5 fw-bold text-body-emphasis">{{artist.name}}</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{artist.bio}}</p>
      <div class="d-grid gap-2 d-sm-flex justify-comtent-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Edit</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Delete</button>
      </div>
    </div>
  </div>
}


<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="mb-5">Artist Albums</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Catalog Number</th>
            <th scope="col">Price ($)</th>
            <th scope="col">Published</th>
            <th scope="col">Release Date</th>
            <th scope="col">Record Company</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (album of albums; track album.id) {
            <tr>
              <th scope="row">{{album.id}}</th>
              <td>{{album.title}}</td>
              <td>{{album.catalogNumber}}</td>
              <td>{{album.price}}</td>
              <td>
                @if (album.published) {
                  <span class="badge text-bg-success">Yes</span>
                } @else {
                  <span class="badge text-bg-danger">No</span>
                }
              </td>
              <td>{{album.releaseDate | date:"yyyy/MM/dd"}}</td>
              <td>
                <a class="badge text-bg-secondary text-decoration-none" [routerLink]="['/artists', album.artist.id, 'detail']">
                  {{album.artist.name}}
                </a>
              </td>
              <td>
                <a class="badge text-bg-warning text-decoration-none" [routerLink]="['/recordCompanies', album.recordCompany.id, 'detail']">
                  {{album.recordCompany.name}}
                </a>
              </td>
              <td>
                <button class="btn btn-info" [routerLink]="['/albums', album.id, 'detail']">View album</button>
              </td>
            </tr>
          } @empty {
            <h5>Ain't no albums.</h5>
          }
        </tbody>
      </table>

    </div>

  </div>
</div>